html, html * {
margin:0; padding:0; box-sizing:border-box;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    body{
        .titleShot{
            width:85% !important;
            text-overflow:ellipsis !important; 
            overflow:hidden !important;
            white-space:nowrap !important;
        }
        h1,h2,h3,h4,h5, p, pre{
            font-family: 'GmarketSansMedium';
            font-weight: 100;
            font-style: normal;
        } 
        .rectSizeOne{
            width:290px !important; max-width:100% !important; height:290px !important;
            overflow:hidden !important;
        }
    }
}